body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../assets/mesa.png");
    background-position: center;
}


div.card {
    height: 170px;
    width: 118px;
    background-color: white;
    border-radius: 10%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

div.card-top {
    cursor: pointer;
    background-image: url("../assets/back-card.png");
    background-position: center;
    background-size: cover;
}

div.card-bottom {
    background-image: url("../assets/front-card.png");
    background-position: center;
    background-size: cover;
}

div.card-bottom>#square {
    height: 50px;
    width: 50px;
    background-color: yellow;
}


div.card-bottom>#diamond {
    height: 50px;
    width: 50px;
    background-color: green;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}


div.card-bottom>#circle {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
}

div.card-bottom>#x {
    height: 50px;
    width: 50px;
    background-color: red;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%, 100% 0%);
}

#um {
    margin: 60px 150px;
}

#dois {
    margin: 60px 300px;
}


#tres {
    margin: 60px 450px;
}

#quatro {
    margin: 60px 600px;
}

#cinco {
    margin: 300px 150px;
}

#seis {
    margin: 300px 300px;
}

#sete {
    margin: 300px 450px;
}

#oito {
    margin: 300px 600px;

}


@keyframes flip {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}