body {
    width: 100vw;
    height: 100vh;
    /* background-image: url("./fundo.png");
    background-repeat: no-repeat; */
}

div.wall {
    background-color: black;
    height: 2px;
    width: 150px;
    margin: 100px;
    position: absolute;
}