* {
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../assets/quadro.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


div#teacher {
    background-image: url("../assets/prof.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 150px;
    height: 200px;
    bottom: 310px;
    position: absolute;

}

div#whiteboard {
    position: absolute;
    width: 530px;
    height: 265px;
    background-color: rgba(0, 69, 0, 0);
    margin-left: 200px;
    padding: 10px 20px;
}


p#question {
    color: white;
    font-weight: 800;
}

div#awnsers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;

}

p.awnsers {
    font-size: larger;
    background-color: grey;
    border: black 1px solid;
    padding: 5px;
    width: 180px;
    cursor: pointer;
    user-select: none;
}

p.awnsers:hover:not(.selected) {
    background-color: lightgray;
}


p.selected {
    background-color: rgb(0, 161, 0);
}

div#timer {

    background-color: green;
    height: 20px;
    width: 100%;
}

p#result {
    color: white;
}