body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../assets/fundo-cima.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

div.wall {
    background-color: black;
    height: 2px;
    width: 150px;
    margin: 100px;
    position: absolute;
}

div#transition {
    background-color: black;
    position: absolute;
    height: 0px;
    width: 0px;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 100;


}

div.transition {
    animation: forwards 1s ease-in-out;
    animation-name: animation;
}

@keyframes animation {

    from {
        height: 200%;
        width: 200%;
    }

    to {
        width: 0px;
        height: 0px;
    }


}