body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-x: hidden;
    background-image: url("https://img.freepik.com/fotos-gratis/textura-de-lousa-de-estilo-grunge_1048-10295.jpg?w=996&t=st=1717417939~exp=1717418539~hmac=dc6c42484fcd8449feb06874efaa66990a58ba4187eb764f220195f51b37dbb1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


div#transition {
    background-color: black;
    position: absolute;
    height: 0px;
    width: 0px;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

div.transition {
    animation: forwards 1s ease-in-out;
    animation-name: animation;
}

@keyframes animation {

    from {
        height: 200%;
        width: 200%;
    }

    to {
        width: 0px;
        height: 0px;
    }


}

div#credits {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

div#credits * {
    margin: 0px;
}

/*button */

button {
    left: 55%;
    top: 90%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}

button#back {
    left: 10%;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(114, 100%, 16%) 0%,
            hsl(127, 100%, 32%) 8%,
            hsl(119, 100%, 32%) 92%,
            hsl(119, 100%, 16%) 100%);
}

.grey {
    background: linear-gradient(to left,
            hsl(0, 0%, 27%) 0%,
            hsl(0, 0%, 52%) 8%,
            hsl(0, 0%, 25%) 92%,
            hsl(0, 0%, 27%) 100%);
}

.front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    color: white;
    background: hsl(126, 100%, 47%);
    will-change: transform;
    transform: translateY(-4px);

    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.greyFront {
    background: hsl(0, 0%, 36%);
}

button:hover {
    filter: brightness(110%);
}

button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

button:focus:not(:focus-visible) {
    outline: none;
}

/*Texto */

.texto {
    gap: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    text-align: justify;
    overflow-y: scroll;
    height: 210px;
}

div {
    gap: 10px;
}

@import url("../assets/fonts/Very\ Simple\ Chalk.ttf");

@font-face {
    font-family: Very Simple Chalk;
    src: url(../assets/fonts/Very\ Simple\ Chalk.ttf);
}

h1 {
    font-family: "Very Simple Chalk";
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    font-family: "Very Simple Chalk";
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

h3 {
    font-family: "Very Simple Chalk";
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
}