* {
    user-select: none;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../assets/fundo-cima.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

div.wall {
    background-color: black;
    height: 2px;
    width: 150px;
    margin: 100px;
    position: absolute;
}

