body {
    background: url('https://preview.redd.it/mljsfmw301d51.png?auto=webp&s=2738aabd77dbd9f86cff2a3c5022b4afa9961a92') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    text-shadow: rgb(0 0 0) 5px 4px 4px;
    font-family: minecraftia;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-style: dashed;
    border-color: white;
    background-color: rgba(0, 0, 0, 55%);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.back {
    display: flex;
    justify-content: space-around;
}

.button {
    border-color: #fff;
    border-style: dashed;
}

.btn-back {
    background-color: #555;
    color: #fff;
    text-shadow: rgb(0 0 0) 0px 5px 4px;
    border: none;
    width: fit-content;
}

.btn-back:hover {
    background-color: #666;
}

.creators {
    text-align: center;
    margin-top: 30px;
}

.creators p {
    margin: 0;
}

.form-control-range {
    width: auto;
}

@font-face {
    font-family: 'minecraftia';
    src: url('../assets/fonts/minecraftia.ttf');
}
