@import url('../assets//fonts/RAVIE.TTF');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


div#transition {
    background-color: black;
    position: absolute;
    height: 0px;
    width: 0px;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 100;


}

div.transition {
    animation: forwards 1s ease-in-out;
    animation-name: animation;
}

@keyframes animation {

    from {
        height: 200%;
        width: 200%;
    }

    to {
        width: 0px;
        height: 0px;
    }


}


h1 {
    font-family: "RAVIE";
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

/*button */

button {
    left: 55%;
    top: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}

button#back {
    left: 10%;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(114, 100%, 16%) 0%,
            hsl(127, 100%, 32%) 8%,
            hsl(119, 100%, 32%) 92%,
            hsl(119, 100%, 16%) 100%);
}

.grey {
    background: linear-gradient(to left,
            hsl(0, 0%, 27%) 0%,
            hsl(0, 0%, 52%) 8%,
            hsl(0, 0%, 25%) 92%,
            hsl(0, 0%, 27%) 100%);
}

.front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    color: white;
    background: hsl(126, 100%, 47%);
    will-change: transform;
    transform: translateY(-4px);

    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.greyFront {
    background: hsl(0, 0%, 36%);
}

button:hover {
    filter: brightness(110%);
}

button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

button:focus:not(:focus-visible) {
    outline: none;
}


/*Range*/
.container {
    position: absolute;
    width: 500px;
    margin: 2rem 100px 0;
}


input {
    width: 100%;
    margin: 0 10px;
}

.slider {
    display: flex;
    justify-content: space-between;
}

span {
    color: #000000;
    font-size: 1.9rem;
    font-family: "RAVIE";
}

span:last-child {
    color: tomato;
}