@import url('../../assets/fonts/minecraftia.ttf');

* {
    user-select: none;
}
:root {
    --enemyColor: yellow;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

}

p {
    font-family: 'minecraftia';
    color: white;
    position: absolute;
    margin: 550px 400px;
}

p#gameOver {
    margin: 60px 330px;
    width: 500px;
    font-size: 40px;
    display: none;
}

div#playground {
    display: flex;
    position: absolute;
    left: 30%;
    top: 20%;
    width: 360px;
    height: 360px;
    border: 1px white dashed;

}

div#player {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white;
    z-index: 2;

}



div.enemy {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--enemyColor);
}

div.wallEnemy {
    position: absolute;
    background-color: var(--enemyColor);
    height: 360px;
    width: 30px;
    /* right:0px; */
}

div.wallEnemyTop {
    position: absolute;
    background-color: var(--enemyColor);
    width: 360px;
    height: 30px;

}



div#question1,
div#question2 {
    background-color: red;
    height: 360px;
    width:0px;
    position: absolute;
}

div#question2 {
    background-color: green;
    right: 1px;

}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(2px, 0);
    }

    50% {
        transform: translate(-2px, 0);
    }

    75% {
        transform: translate(2px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes fallOffTheScreen {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(-30px);

    }

    100% {
        transform: translateY(100vw);
    }
}

@keyframes gameOverLight {
    0% {
        color: white;
    }

    50% {
        color: red;
    }

    100% {
        color: white;
    }

}

div#question1>p {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin: 50px 50px;
    position: absolute;
    text-align: center;

}
div#timer {

    background-color: rgba(0, 128, 0, 0);
    height: 20px;
    width: 100%;
}
div#question2>p {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin: 50px 20px;
    position: absolute;
    text-align: center;
}

p#question {
    font-size: 20px;
    margin: 30px 25%;
    position: absolute;
    text-align: center;
}